<%= form_for @user, url: subscribe_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.email_field :email, placeholder: t('input_placeholder'), required: true, class: 'form-control input-lg' %>
  </div>
  <%= f.submit t('send_btn'), class: 'btn btn-lg btn-success btn-block' %>
<% end %>
